html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #F2F4F7;
  font-family: PingFangSC-Regular;
}

p, h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background-color: rgba(240, 240, 240, 0)
}
